@import '../../assets/scss/variables.scss';
@import 'sass-rem';

$strength-colors: (red, orangered, orange, yellowgreen, green);
$strength-gap: 5px;

.registration-form {
  padding: rem(10px 30px 20px 30px);

  &__field {
    margin-bottom: rem(30px);

    :focus {
      border: rem(2px) solid map-get($palette, primary );
      outline: none;
    }
  }

  &__text {
    font-size: rem(13px);
    color: map-get($grey, 300);

    &--span {
      margin-left: rem(10px);
      color: map-get($palette, primary );
    }
  }

  // reference https://scotch.io/tutorials/password-strength-meter-in-react
  &__password-meter {
    position: relative;
    height: rem(3px);
    background: map-get($grey, 100);
    margin: rem(-22px 0 8px 0);
    border-radius: rem(2px);

    // Dynamically create the gap effect
    &:before,
    &:after {
      content: '';
      height: inherit;
      background: transparent;
      display: block;
      border-color: $white;
      border-style: solid;
      border-width: 0 $strength-gap 0;
      position: absolute;
      width: calc(25% + #{$strength-gap});
      z-index: 10;
    }

    // Dynamically create the gap effect
    &:before {
      left: calc(50% - #{($strength-gap)});
    }

    // Dynamically create the gap effect
    &:after {
      right: calc(50% - #{($strength-gap)});
    }

    &--fill {
      background: transparent;
      height: inherit;
      position: absolute;
      width: 0;
      border-radius: inherit;
      transition: width 0.5s ease-in-out, background 0.25s;
    
      // Dynamically generate strength meter color styles
      @for $i from 1 through 5 {
        &[data-strength='#{$i - 1}'] {
          width: (20% * $i);
          background: nth($strength-colors, $i);
        }
      }
    }
  }
}
