@import '../../assets/scss/variables.scss';
@import 'sass-rem';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  background-color:map-get($grey, 150);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}
